<nav class="navbar navbar-default" role="navigation" ng-controller="HeaderCtrl">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">

    <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" ui-sref="home">TeamTime</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">
  
    <ul class="nav navbar-nav">
      <li ng-class="{active:isHome}"><a ui-sref="home">Home</a></li>
      <!-- <li ng-class="{active:!isHome}"><a ui-sref="user({ id: 13 })">Albums</a></li> -->
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
